body {
    font-family: 'Comfortaa', sans-serif;
    background: #fff;
}

.blue-divider {
    width: 100px;
    height: 2px;
    background: rgb(65, 65, 65);
    margin: 0px auto;
    margin-bottom: 50px;
}

.del-form {
    display: inline;
}

.btn {
    margin: 10px;
    text-align: center;
}

.page-holder {
    min-height: 100vh;
}

.bg-cover {
    background-size: cover !important;
}

.white-divider {
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto 20px;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    margin: auto auto;
    padding: 40px
}

.del-upd-form {
    display: inline;
}

#commentcontainer {
    max-width: 400px;
    overflow: -moz-hidden-unscrollable;
}

.jumbotron {
    background: url("../img/blog-background.png") no-repeat center;
}

img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    margin: 25px auto;
    display: block;
}

.rounded-circle {
    width: 50px;
    height: 50px;
}

.border-2 {
    border-width: 2px !important;
}